{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <p class="post-meta">
    {{ with .Date }}<time datetime="{{ .Format "2006-01-02" }}">{{ .Format "January 2, 2006" }}</time>{{ end }}
    {{ with .Params.code }} &middot; {{ . }}{{ end }}
    {{ with .Params.status }} &middot; {{ . }}{{ end }}
  </p>
  {{ .Content }}
  {{ with .Params.methods }}<p class="post-meta">Methods: {{ delimit . ", " }}</p>{{ end }}
  {{ with .Params.tags }}<p class="post-meta">Tags:
    {{ range $i, $t := . }}{{ if $i }}, {{ end }}<a href="{{ (urlize (printf "/tags/%s" $t)) | relURL }}">{{ $t }}</a>{{ end }}
  </p>{{ end }}
</div>
{{- end }}
